<div class="flex justify-center sm:justify-between p-3 bg-red-800 w-full items-center">
  <div class="flex gap-1">
    <div>
      <%= link_to image_tag("linkdin_icon.png"), "https://www.linkedin.com/feed/" %>
    </div>
    <div>
      <%= link_to image_tag("github_icon.png"), "https://github.com/" %>
    </div>
  </div>
  <div class="flex text-yellow-300 ml-[100px] hidden lg:block">
    Available: January 2023
  </div>
  <div class="flex flex-col font-semibold text-sm hidden lg:block">
    <div>Phn: 971-203-4256</div>
    <div>Email: wesley.larson73@gmail.com</div>
  </div>
 </div>    