<div class="flex items-center justify-center flex-col p-3 gap-8 overflow-y-hidden">
  <h1 class="font-medium leading-tight text-5xl mt-3 text-blue-600"> Bio </h1>
  <div class="rounded-md bg-yellow-50">
    <%= image_tag("IMG_2868.jpg", :class => "float-left pr-2.5 p-2 object-contain h-44 w-auto rounded-lg") %><p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit. Orci eu lobortis elementum nibh tellus molestie nunc non blandit. Mi sit amet mauris commodo. Pulvinar neque laoreet suspendisse interdum consectetur. In tellus integer feugiat scelerisque varius morbi enim nunc faucibus. Viverra adipiscing at in tellus integer feugiat scelerisque varius. Vel facilisis volutpat est velit egestas. Purus in massa tempor nec feugiat nisl pretium fusce. At elementum eu facilisis sed odio morbi quis commodo. Pharetra convallis posuere morbi leo urna molestie at elementum. Nisl suscipit adipiscing bibendum est ultricies integer. Lacus laoreet non curabitur gravida arcu ac tortor.
    </p>
  </div>
  <div #grid container>
    <div #flexbox>
      <!-- svg icon -->
      <!-- h3 "languages i speak" -->
      <ul>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div #flexbox>
      <!-- svg icon -->
      <!-- h3 "My Frameworks" -->
      <ul #grid>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div #grid>
      <!-- svg icon -->
      <!-- h3 "Toolbox" -->
      <ul>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <div>
    <h3>************</h3>
    <div #contact info>
    </div>
  </div>
</div>