<div class="flex h-full items-center justify-center flex-col gap-8 mb-14"> 
  <div>
    <%= image_tag "home_page_2.png", class: "rounded-lg drop-shadow-md p-4 max-h-80"  %>
  </div>
  <div class="border-5 w-3/4 bg-yellow-50 max-w-lg p-4 max-h-[528px] rounded-md drop-shadow-md">
    <p>
      Hey all, I'm a full stack developer working out of the greater Phoenix area. I love building things and learning. I have a robust and varied work history centered around problem-solving, out of the box thinking, and service. Please take a look through my recent projects and/or my about page and see if we might be a good fit. 
    </p>
    <br>
    <p>-wes</p>
  </div>  
</div>
