<div class="flex h-full items-center justify-center flex-col gap-8">  
  <div>
    <%= image_tag "gears.png", class: "rounded-lg w-20 h-20 drop-shadow-md"  %>
  </div>

  <div class="border-5 w-3/4 bg-yellow-50 max-w-lg p-2 max-h-[528px] rounded-md drop-shadow-md">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id felis consequat, bibendum dolor sed, egestas mauris. Aenean nec bibendum dui, vestibulum interdum est. Donec malesuada id nisi eget pretium. Maecenas non tortor euismod, pretium massa et, interdum lorem. Suspendisse laoreet ex sit amet varius porttitor. Vivamus pharetra, purus vel finibus dapibus, ligula justo auctor urna, eget iaculis risus dolor in diam. Pellentesque nulla mi, ultrices eget nibh eget, efficitur lobortis augue. Phasellus a ex ut leo hendrerit molestie. Aliquam erat volutpat. Ut placerat fermentum bibendum. Vestibulum lacinia sem vitae justo egestas, eu efficitur elit molestie.
    </p>
  </div>  
</div>
